@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  font-family: Outfit;
}

:root {
  --color-primary: #5f6FFF;
}

.bg-primary {
  background-color: var(--color-primary);
}
.text-primary {
  color: var(--color-primary);
}
.active hr{
  @apply block
}
.active li{
  @apply text-black font-semibold
}

::-webkit-scrollbar{
  @apply  hidden
}

.my-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
